.main-content {
  width: 90%;
  margin: 0 auto;
}

.sql-area {
  &__textarea {
    border: 1px solid #c0c0c0;
    font-size: 20px;
    height: 100px;
    padding: 10px 15px;
    width: 100%;
  }
}

.result {
  table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;

    tr{
      border-bottom: solid 1px #eee;
      cursor: pointer;
      &:hover{
        background-color: #d4f0fd;
      }
    }

    th, td{
      text-align: center;
      padding: 15px 0;
      max-width: 25%;
    }
  }
}
